.input{
    height: 75px;
    justify-content: flex-end;
    display: flex;
    margin-bottom: 20px;
    border-radius: 40px;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    padding: 11px 30px 11px 11px;
    background-color: #0a0a23;
    color: white;
    margin: 1px solid #888;
    box-shadow: -1px 4px 1px 1px white;
}